.cell {
  font-size: 30px;
  width: 70px;
  height: 70px;
}

.cell.correct {
  color: green;
}

.cell.error {
  color: red;
}

.cell.open {
  color: blue;
}

.cell.temp {
  color: black;
}

.cell.closed {
  color: transparent;
  cursor: pointer;
}

.cell:disabled,
.cell.closed:disabled {
  cursor: default;
}
